.cart-widget{
    color: white;
    font-weight: 100;
    font-size: 1.5rem;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out all;
}

.cart-widget-active{
    visibility: visible;
    opacity: 1;
}