.container{

    .detail-prod{

        .img-small{
            width: 10rem;
            height: 10rem;

        }
    color: black;
        .parr{
            color: black;
        }
}
    .imgEmpty{
        display: flex;

    }
    .btn {
        margin: 1rem;
    }
}