body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav .a {
  background-color: black;
  
}

header .header__logo{
  margin: 15px;
}

.bi-cart2{
  color: red;
}

section {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.contador{
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin: 5px;
}

.col-3 img {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.container h3 {
  display: flex;
  justify-content: center;  
}