body{

    background-color: black;

.container__checkout{
    background-color: grey ;
    border-radius: 5px;
        h2{
            color: white;
        }
        p{
        color: red;
        font-weight: 500;
        }
}
}